#dealsGrid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-top: 20px;
}

.dealContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #FFF;
    border-radius: 12px;
    padding: 28px 20px;
    transition: box-shadow 0.2s ease-in-out;
}

.dealContainer:hover{
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -1px rgba(16, 24, 40, 0.08);
}

.dealInfo{
    width: 100%;
    max-width: 320px;
    justify-content: space-between;
    font-size: 0.7rem;
    color: white;
    margin-bottom: 30px;
}

.originalPrice{
    align-self: flex-start;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 40px;
    gap: 5px;
}

.discountPrice{
    display: flex;
    width: 65px;
    height: 19px;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 3px 0 0 0;
}

.claimDate{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
    font-size: 1rem;
    color: white;
}

.claimDate span:last-of-type{
    color: #EEEEEE;
}

.progressBar{
    position: relative;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 25px;
}

.line{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 4px;
}

.computedValue{
    width: 35px;
    height: 19px;
    margin: 0 5px;
}

@media(min-width: 768px){
    #dealsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1250px){
    #dealsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}