#dealsGrid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    margin-top: 20px;
}

.dealContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #FFF;
    border-radius: 12px;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -1px rgba(16, 24, 40, 0.08);
    padding: 28px;
}

.token{
    gap: 12px;
    font-size: 1.5rem;
    font-weight: 600;
}


.discount{
    margin-bottom: 37px;
    padding: 4px 12px;
    border-radius: 15px;
    background: #FFF;
    gap: 7px;
    font-size: 0.9rem;
    font-weight: 600;
}

.discount::before{
    content: '•';
    font-size: 20px;
    color: var(--brand-color);
}

.discountPrice{
    color: white;
    font-weight: 600;
    font-size: 2.32rem;
    margin: 40px 0 20px 0;
}

.originalPrice{
    color: #1E1D34;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration-line: line-through;
    margin-bottom: 37px;
}

@media(min-width: 768px){
    #dealsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1250px){
    #dealsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}