.dataGrid{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    margin-top: 50px;
    align-items: flex-start;
}

.chartWrapper{
    width: 99%;
    min-height: 320px;
    background: white;
    padding: 10px 20px 20px 20px;
    border-radius: 15px;
    border: 1px solid #EAECF0;
}

.tableWrapper{
    min-width: 100%;
    overflow-x:auto;
    padding: 5px;
    border-radius: 12px;
    z-index: 0;
}

.table{
    position: relative;
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 12px;
    font-size: 0.95rem;
    background-color: white;
}

.table::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #EAECF0;
    border-radius: 12px;
    pointer-events: none;
}

.tableRow{
    position: relative;
    border-bottom: 1px solid #EAECF0;
}

.interactiveTableRow:hover{
    background-color: rgba(147, 200, 108, 0.09);
    cursor: pointer;
}

.tableHeader{
    font-weight: 500;
    color: #475467;
    padding: 13px 24px;
    text-align: left;
}

.tableData{
    padding: 16px 24px;
}

.tableData span{
    display: block;
}

.amount{
    display: flex;
    align-items: center;
}

.amount img{
    margin-right: 5px;
}

.amount span{
    display: block;
}

.heavyData{
    color: #101828;
    font-weight: 500;
}

.lightData{
    color: #475467;
    line-height: 20px;
}

.tableFooterContent{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    color: #344054;
    font-weight: 500;
}

.tableFooterButton{
    padding: 8px 14px;
    font-weight: 600;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    cursor: pointer;
}

.buttonDisabled{
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
}

.emptyTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
    margin: 30px 0;
}

@media(min-width: 768px){
    .tableHeader{
        max-width: 100px;
        word-wrap: break-word;
    }

    .tableData{
        max-width: 100px;
        word-wrap: break-word;
    }
}

@media(min-width: 1250px){
    .dataGrid{
        grid-template-columns: 1fr 1fr;
    }
}